{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br/>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="width: 300px; height: 300px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <br/>
                        <p class="card-text justified">{{ product.description }}</p>
                        {{ product.price }}DT

                        {% if product.is_sold_out %}
                          <div class="d-flex justify-content-center text-warning mb-2">
                              <span class="badge bg-warning text-dark">Épuisé!</span>
                          </div>
                        {% endif %}

                        <br/><br/>
                        <div class="row justify-content-center">
                            <div class="col-md-2">Quantité:</div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <br/><br/>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Accueil</a>

                        {% if user.is_authenticated %}
                            <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart" {% if product.is_sold_out %}disabled{% endif %}>Ajouter au Panier</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary" id="add-cart" disabled>Ajouter au Panier</button>
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
            error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText); // Provide an error message for debugging
            }
        });
    });
</script>

{% endblock %}
