{% load static %}
{% block content %}

<!-- Navbar -->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        
            <img src="{% static 'assets/logo.png' %}" alt="Logo" style="width: 50px; height: 50px; border-radius: 50%;">
        
        
       
    </div>
</nav>

{% if messages %}
            {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {% endfor %}
        {% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br/><br/>
            <form method="POST" action="{% url 'profile1' %}">
                {% csrf_token %}
                {{ user_form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-danger">
                    Mettre à jour le mot de passe
                </button>
            </form>

            <br/>
            <a class="btn btn-danger" href="{% url 'livreur' %}">Retour</a>
        </div>
    </div>
</div>

<style>
    /* Navbar styling */
    .navbar {
        background-color: #f8f9fa; /* Light gray */
        color: rgb(199, 8, 8);
        padding: 10px;
        /* text-align: center; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow */
    }

    /* Body styling */
    body {
        background-color: white;
        color: black;
        font-family: Arial, sans-serif;
        padding: 20px;
    }

    /* Button styling */
    .btn {
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-danger {
        background-color: rgb(199, 8, 8);
    }

    .btn-danger:hover {
        background-color: #b80606; /* Darker red on hover */
    }

    /* Form input styling */
    input[type="text"], input[type="number"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>

{% endblock %}
